body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #99fafa;
  margin-left: 30px;
  margin-right: 30px;
}

h1{
  text-align: center;
}

navbar {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar ul{
  list-style-type: none;
  background-color: rgb(233, 184, 214);
  padding: 0px;
  margin: 0px;
  display: inline-block;
  overflow: hidden;
}

.navbar a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0px;
}

.navbar a:hover{
  background-color: beige;
}

.navbar li{
  float:left
}

footer{
  background-color: black;
  text-align: center;
  color: bisque;
}
