body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #a0fafa;
  margin: 20px
}
h1{
  text-align: center;
}
header{
  position: fixed;
  padding: 0px;
}
nav {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: rgb(252, 37, 216);
}
nav ul{
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
nav a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0px;
}
nav a:hover{
  background-color: beige;
}
nav li{
  float:left
}
footer{
  background-color: black;
  text-align: center;
  color: bisque;
}
#turtles{
  background-color: rgb(231, 173, 200);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#favoriteFoods{
  background-color: rgb(145, 174, 182);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#favoriteShows{
  background-color: rgb(174, 196, 149);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}