body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #d3d3d3;
  margin: 0px
}
main{
  margin: 20px;
}
.nav {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.nav ul{
  list-style-type: none;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.nav a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.nav a:hover{
  background-color: rgb(248, 154, 206);
}
.nav li{
  float:left
}
h1{
  text-align: center;
}
footer{
  background-color: black;
  text-align: center;
  color: bisque;
}
#me{
  background-color: rgb(230, 199, 217);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#turtles{
  background-color: rgb(231, 173, 200);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#info{
  background-color: rgb(34, 139, 161);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#education{
  background-color: rgb(34, 134, 161);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#employment{
  background-color: rgb(34, 139, 169);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#extras{
  background-color: rgb(34, 137, 163);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#favoriteFoods{
  background-color: rgb(212, 224, 103);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#favoriteShows{
  background-color: rgb(206, 207, 121);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}