body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #b8f7f7;
  margin: 0px
}
main{
  margin: 20px;
}
.nav {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.nav ul{
  list-style-type: none;
  background-color: rgb(55, 151, 119);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.nav a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.nav a:hover{
  background-color: rgb(25, 121, 121);
}
.nav li{
  float:left
}
h1{
  text-align: center;
}
footer{
  background-color: black;
  text-align: center;
  color: bisque;
}
#me{
  background-color: rgb(230, 199, 217);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#turtles{
  background-color: rgb(231, 173, 200);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#info{
  background-color: rgb(62, 82, 95);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#education{
  background-color: rgb(84, 111, 129);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#employment{
  background-color: rgb(111, 144, 167);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#extras{
  background-color: rgb(143, 189, 219);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#favoriteFoods{
  background-color: rgb(145, 174, 182);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}
#favoriteShows{
  background-color: rgb(174, 196, 149);
  padding: 10px 2.5% 10px 2.5%;
  border-radius: 0px 10px;
  margin-top: 10px;
}